torch>=2.2
torchvision>=0.17
torchmetrics>=1.4
hydra-core>=1.3
omegaconf>=2.3
datasets>=2.19
huggingface-hub>=0.23
comet-ml>=3.44
python-dotenv>=1.0
lpips>=0.1.4
numpy>=1.24
scipy>=1.11
pillow>=10.0
tqdm>=4.66
matplotlib>=3.8
opencv-python-headless>=4.8
waveprop @ git+https://github.com/ebezzam/waveprop.git
slm_controller @ git+https://github.com/ebezzam/slm-controller.git
perlin_numpy @ git+https://github.com/pvigier/perlin-numpy.git@5e26837db14042e51166eb6cad4c0df2c1907016
